*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: antiquewhite;
}
.counter{
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.counter button{
  margin-top: 8px;
  width: 150px;
  height: 70px;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 15px;
  border:2px solid white;
  background: rgb(181, 92, 181);
  color: white;
}
.counter h1{
  font-size: 6rem;
}